@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
}
header{
	padding: 20px;
	background-color: lightblue;
}
nav{
	padding: 20px;
	background-color: lightgray;
}
a{
	color: black;
	text-decoration: none;
	padding: 10px;
	margin: 10px;
}
section{
	height: 400px;
	padding: 20px;
}
li{
	margin: 10px 20px;
}
footer{
	padding: 20px;
	background-color: lightblue;
}