@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
}

header{
	padding: 30px;
	background-color: blue;
	text-align: center;
}

nav{
	padding: 10px 30px;
	background-color: navy;
}
nav ul{
	list-style: none;
	display: flex;
}
nav a{
	text-decoration: none;
	color: white;
	padding: 5px;
}
nav li{
	margin-right: 10px;
}

section{
	padding: 30px;
	height: 600px;
}
section ol{
	margin-left: 40px;
}

footer{
	padding: 30px;
	background-color: lightblue;
	text-align: center;
}