@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
}
header{
	padding: 20px;
	background-color: blue;
	text-align: center;
}

nav{
	padding: 20px;
	background-color: navy;
}
span{
	padding: 10px;
	margin: 0 5px;
}
a{
	color: white;
	text-decoration: none;
	padding: 5px;
}

section{
	height: 400px;
	padding: 20px;
}
ol{
	margin: 10px 20px;
}

footer{
	background-color: blue;
	padding: 20px;
}