@charset "UTF-8";

table{
	margin: 10px auto;
}

caption{
	font-size: 24px;
	font-weight: 600;
	margin: 20px;
}

table, tr, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

th, td{
	padding: 7px 15px;
}

.center{
	text-align: center;
}
input, select{
	padding: 3px 5px;
}
.reg td:nth-child(2) {
	text-align: left;
}