@charset "UTF-8";


body{
	background-image:url('https://cdn.class101.net/images/53a14415-57eb-4d3c-b740-577ba433ad80');	 
	
}

.show{
  width:300px;
  height:300px;
  line-height:300px;
  text-align:center;
  margin:0px auto;   
  font-size:30px;
  
}